# PROJECT
DEBUG=True
SECRET_KEY=scaling-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1

# DATABASE (Postgres)
DATABASE_URL=postgres://postgres:postgres@db:5432/postgres

# REDIS & CELERY
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# PERFORMANCE TESTING (Optional)
LOCUST_TARGET_HOST=http://web:8000
